.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  border-bottom: 1px solid black;
}

.titulo {
  color: MediumAquamarine;
  padding-left: 10px;
  font-size: 14px;
  align-self: center;
}

.navigation {
  display: inline-flex;
}

ul {
  list-style-type: none;
}

.navitem {
  align-self: center;
  width: 50px;
  text-decoration: underline;
  font-weight: 700;
}

.logo {
  height: 70px;
}
